{% include "templateadmin/header.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Pengaturan Waktu Absensi</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Pengaturan Waktu Absensi</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Pengaturan Waktu Absensi</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="datajamkerja" class="table table-bordered table-hover">
                  <thead>
				            <tr>
                        <th>No</th>
                        <th>Waktu</th>
                        <th>Jam Mulai</th>
                        <th>Jam Selesai</th>
                        <th class="text-center">Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{item[1]}}</td>
                        <td>{{item[2]}}</td>
                        <td>{{item[3]}}</td>
                        <td class="text-center">
                          <span data-toggle="tooltip" data-placement="top" title="Ubah">
                              <a class="btn btn-sm btn-primary btn-edit-jamkerja" data-toggle="modal" data-target="#edit-{{item[0]}}"><i class="fas fa-edit"></i></a>
                          </span>
                          <!-- <span data-toggle="tooltip" data-placement="top" title="Hapus">
                              <a class="btn btn-sm btn-danger btn-delete-jamkerja" data-toggle="modal" data-target="#hapus-{{item[0]}}"><i class="fas fa-trash-alt"></i></a>
                          </span> -->
                      </td>
                    </tr>

                    <!-- Modal Edit -->
                    <div class="modal fade" id="edit-{{item[0]}}">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <form class="form-horizontal" action="/jamkerja_update_submit" method="POST">
                                  <div class="modal-header">
                                      <h4 class="modal-title">Ubah Pengaturan Jam Kerja</h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                  </div>
                                  <div class="modal-body p-4">
                                    <input type="hidden" name="jamkerja_id" value="{{item[0]}}">
                                    <div class="form-group row">
                                        <label for="jamkerja_name" class="col-sm-3 col-form-label">Waktu <span class="text-danger">*</span></label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" id="jamkerja_name" name="jamkerja_name" value="{{item[1]}}" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="jamkerja_start" class="col-sm-3 col-form-label">Jam Mulai <span class="text-danger">*</span></label>
                                        <div class="col-sm-4">
                                          <input type="time" class="form-control" id="jamkerja_start" name="jamkerja_start" value="{{item[2]}}" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="jamkerja_end" class="col-sm-3 col-form-label">Jam Selesai <span class="text-danger">*</span></label>
                                        <div class="col-sm-4">
                                          <input type="time" class="form-control" id="jamkerja_end" name="jamkerja_end" value="{{item[3]}}" required>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Simpan</button>
                                      <button class="btn btn-danger" data-dismiss="modal"><i class="fas fa-sign-out-alt"></i> Kembali</a>
                                  </div>
                              </form>
                          </div>
                          <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->

                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->

    </section>
    <!-- /.content -->
  </div>

{% include "templateadmin/footer.html" %}

<script>
  $(function () {
    $('#datajamkerja').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": false,
      "info": true,
      "autoWidth": true,
      "responsive": true,
    });
  });
</script>
</body>
</html>
