{% include "templateadmin/header.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Data Pegawai</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Data Pegawai</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Tambah Data Pegawai</h3>
              </div>
              <!-- /.card-header -->
              <form class="form" method="post" action="/addprsn_submit">
              <div class="card-body">
                <div class="form-group row">
                    <label for="txtnbr" class="col-sm-2 col-form-label">ID</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="txtnbr" name="txtnbr" value={{ newnbr }} readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtname" class="col-sm-2 col-form-label">Nama</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="txtname" name="txtname" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="optskill" class="col-sm-2 col-form-label">Jabatan</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="optskill" id="optskill">
                            <option selected disabled>-- Pilih Jabatan --</option>
                            <option value="Backend Developer">Backend Developer</option>
                            <option value="Frontend Developer">Frontend Developer</option>
                            <option value="Android Developer">Android Developer</option>
                            <option value="iOS Developer">iOS Developer</option>
                            <option value="Technical Writer">Technical Writer</option>
                            <option value="DevOps Enginer">DevOps Enginer</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="/datapegawai" type="button" class="btn btn-danger"><i class="fas fa-arrow-left"></i> Kembali</a>
                <button type="submit" class="btn btn-primary">Daftarkan Wajah <i class="fas fa-arrow-right"></i></button>
            </div>
        </form>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>

{% include "templateadmin/footer.html" %}
