<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}

</head>
<body style="background-image: url('static/dist/img/low-poly-wireframe.webp'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">

<!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <lottie-player src="{{ url_for('static', filename='dist/lottie/90963-face-recognition-face-scan-by-ai.json') }}" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
    <span>Membuka presensi wajah...</span>
  </div>
    {% include "navbar-home.html" %}
 
<div class="container-fluid">
    <div class="row p-3 mt-2">
        <div class="col-md-6">
            <div class="card">
                {% if checkdata %}
                    <img src="/video_presensi" width="100%" class="rounded">
                {% else %}
                    <div class="p-3">
                        <img src="{{ url_for('static', filename='dist/img/no_dataset.png') }}" width="100%" class="img-thumbnail">
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center py-2 bg-info">
                        <h4 style="margin: 0" class="mt-2" id="date-part"></h4>
                        <b><h1 id="time-part"></h1></b>
                      </div>
                <div class="card-body bg-dark text-center">
                    
                    <h5><span class="badge badge-pill badge-primary p-3 mb-3">PENGENALAN WAJAH</span></h5>
                    <div id="resultScan">
                        <lottie-player src="{{ url_for('static', filename='dist/lottie/90963-face-recognition-face-scan-by-ai.json') }}" background="transparent" speed="1" style="width: 200px; height: 200px; margin: 0 auto;" loop autoplay></lottie-player>
                        <h4 class="text-white mt-3">. . . Deteksi Wajah . . .</h4> 
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>

{% include "script.html" %}

<script type="text/javascript">
    $(document).ready(function() {
        let lastcnt = 0;
        let cnt;
        chkNewScan();
 
        function chkNewScan() {
            // countTodayScan();
            reloadTable()
            setTimeout(chkNewScan, 3000);
        }

        function countTodayScan() {
            $.ajax({
                url: '/countTodayScan',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    cnt = data.rowcount;
                    if (cnt > lastcnt) {
                        reloadTable();
                    }
 
                    lastcnt = cnt;
                },
                error: function(result){
                    console.log('no result!')
                }
            })
        }
 
        function reloadTable() {
            $.ajax({
                url: '/loadData',
                type: 'GET',
                dataType: 'json',
                success: function(res){
                    const response = res.response
                    const data = response.data
                    const msg = response.msg
                    const status = response.status

                    var div = $("#resultScan");
                        
                    div.html(`<lottie-player src="{{ url_for('static', filename='dist/lottie/90963-face-recognition-face-scan-by-ai.json') }}" background="transparent" speed="1" style="width: 200px; height: 200px; margin: 0 auto;" loop autoplay></lottie-player>
                        <h4 class="text-white mt-3">. . . Deteksi Wajah . . .</h4>`)

                    if (status == 1 || status == 2) {
                        console.log('ABSEN '+data.pegawai_name);
                        div.html(`<img src="/getDatasetImg/${data.pegawai_id}.${data.img_id}.jpg" width="30%" class="img-thumbnail">
                        <h4 class="text-white mt-3">${data.pegawai_name}</h4>
                        <h4 class="text-white">${data.jabatan_name}</h4>
                        <h4 class="${status == 2 ? 'text-success' : 'text-danger'} mt-3">${msg}</h4>`)
                    } 
                },
                error: function(result){
                    console.log('no result!')
                }
            });
        }
    });
</script>

<script>
    $(document).ready(function() {
    var interval = setInterval(function() {
        var momentNow = moment();
        $('#date-part').html(momentNow.format('DD-MM-YYYY'));
        $('#time-part').html(momentNow.format('HH:mm:ss'));
    }, 100);
});
</script>

<script>
    $(function () {
      $('#absensiharian').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": false,
        "autoWidth": true,
        "responsive": false,
      });
    });
  </script>

</body>
</html>
