<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
</head>

<body class="hold-transition login-page" style="background-image: url('static/dist/img/synthetic-data-scaled.jpg'); background-repeat: no-repeat;background-attachment: fixed; background-size: cover;">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="/login" class="h1"><b>Login </b>Presensi</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form action="/userlist" method="get">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Username" id="username" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" id="password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-4">
            <a href="/" class="btn btn-secondary btn-block">Kembali</a>
          </div>
          <div class="col-4">
            <button type="button" onclick="login()" class="btn btn-primary btn-block">Masuk</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!-- <p class="mb-0">
        <a href="register.html" class="text-center">Register a new membership</a>
      </p> -->
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

{% include "script.html" %}

<script>
    function login() {
        var username = $('#username').val();
        var password = $('#password').val();

        if (username == "admin" && password == "admin") {
            window.location.href = "/datapegawai"
        } else if (username == "" || password == "") {
            alert("harap masukkan username dan password...")
        } else {
            alert("Username dan password salah !!!!")
        }
    }
</script>
</body>
</html>
